[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/OpenBLAS"]
	path = external/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
